<p>Dear Modelica interested,</p>

<p>
The Modelica Association is proud to announce that
<b>Modelica <span>Newsletter</span> <span>{{issue.year}}</span>-<span>{{issue.number}}</span></b>
is available at:
</p>

<blockquote>
<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
<a href="http://www.modelica.org/publications/newsletters/{{issue.year}}-{{issue.number}}" target=
"_blank">www.modelica.org/publications/newsletters/{{issue.year}}-{{issue.number}}</a>
</p>
</blockquote>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
The following table summarizes the topics:
</p>


<table style="border: 1px solid green; font-size: 8pt; font-family: Verdana,Arial,sans-serif; border-collapse: collapse; background-color: rgb(235, 255, 235);" cellpadding="4" cellspacing="0" width="700">
  <tbody>
    <tr style="color: rgb(255, 255, 255); background-color: green;">
      <td colspan="3">
	<span style="font-size: 13.5pt; font-weight: bold;">
	  Modelica <span>Newsletter</span> <span>{{issue.year}}</span>-<span>{{issue.number}}</span>
	</span>
	<span style="font-size: 8pt; float: right;">{{issue.month}} <span>{{issue.year}}</span>
	</span>
	<br>
	<span style="font-size: 8pt;"> News for the Modelica Community from the Modelica Association</span>
      </td>
    </tr>

    <tr style="background-color: rgb(220, 220, 220); font-weight: bold;" align="center">
      <td style="border: 1px solid green;"> News from
         the Modelica Association</td>
      <td style="border: 1px solid green;"> News from
         Modelica library developers</td>
      <td style="border: 1px solid green;"> News from
         Modelica tool vendors</td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> Letter from the Board</td>
      <td style="border: 1px solid green;"> Modelica Libraries distributed by BAUSCH-GALL</td>
      <td style="border: 1px solid green;"> Modelica in CATIA Systems</td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> Modelica Specification 3.1 released</td>
      <td style="border: 1px solid green;"> FlexBody Library from Claytex Services</td>
      <td style="border: 1px solid green;"> deltatheta and the Modelica SDK</td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> 7th International Modelica Conference</td>
      <td style="border: 1px solid green;"> VehicleDynamics with active safety and hybrid cars</td>
      <td style="border: 1px solid green;"> Dymola versions 7.2 and 7.3</td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> 3rd International Workshop EOOLT&#39;2009</td>
      <td style="border: 1px solid green;"> <br></td>
      <td style="border: 1px solid green;"> SimulationX 3.2 with full Modelica support</td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> Education Workshop + Modelica Teaching Material</td>
      <td style="border: 1px solid green;"> <br></td>
      <td style="border: 1px solid green;"> Modelon in Germany (Engineering and Dymola VAR) <br></td>
    </tr>

    <tr>
      <td style="border: 1px solid green;"> Modelica License 2</td>
      <td style="border: 1px solid green;"> <br></td>
      <td style="border: 1px solid green;"><br> <span></span> </td>
    </tr>
  </tbody>
</table>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
The Modelica <span>Newsletter</span> will be published several times a year.
If you did not receive a notice for this <span>newsletter</span> via email from
modelica@modelica.org but would like to receive it in future then please
use the following link:
<a href="http://trac.modelica.org/Modelica/wiki/ModelicaInfoService" target="_blank">
Subscribe to the Modelica Info Service</a>.

<br><br>

<p>
  Best regards,</p>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
  Michael Tiller<font color="#888888"><br>
    Secretary, Modelica Association Board<br>
    <span>Newsletter</span> Editor</font></p>
