<p>Dear Modelica interested,</p>

<p>
The Modelica Association is proud to announce that
<b>Modelica <span>Newsletter</span> <span>{{issue.year}}</span>-<span>{{issue.number}}</span></b>
is available at:
</p>

<blockquote>
<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
<a href="http://www.modelica.org/{{urlroot}}/{{issue.year}}-{{issue.number}}" target=
"_blank">www.modelica.org/{{urlroot}}/{{issue.year}}-{{issue.number}}</a>
</p>
</blockquote>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
The following table summarizes the topics:
</p>


<table style="border: 1px solid {{bordercolor}}; font-size: 8pt; font-family: Verdana,Arial,sans-serif; border-collapse: collapse; background-color: {{itembg}};" cellpadding="4" cellspacing="0" width="700">
  <tbody>
    <tr style="color: white; background-color: {{titlebg}};">
      <td colspan="{{secs|length}}">
	<span style="font-size: 13.5pt; font-weight: bold;">
	  Modelica <span>Newsletter</span> <span>{{issue.year}}</span>-<span>{{issue.number}}</span>
	</span>
	<span style="font-size: 8pt; float: right;">{{issue.month}} <span>{{issue.year}}</span>
	</span>
	<br>
	<span style="font-size: 8pt;"> News for the Modelica Community from the Modelica Association</span>
      </td>
    </tr>

    <tr style="background-color: {{headingbg}}; font-weight: bold;" align="center">
      {% for sec in secs %}
      <td style="border: 1px solid {{bordercolor}};">{{sec.obj.title}}</td>
      {% endfor %}
    </tr>

    <tr>
      {% for sec in secs %}
      <td valign="top" style="border: 1px solid {{bordercolor}}; background-color: {{itembg}};">
	<ul style="padding-left: 20px">
	  {% for item in sec.items %}
	  <font color="{{titlebg}}">
	    <li style="margin-left:0px; list-style: disc">
	      <a style="color: black" href="http://www.modelica.org/{{urlroot}}/{{issue.year}}-{{issue.number}}#item{{item.id}}">
		{{item.title}}
	      </a>&nbsp;
	    </li>
	  </font>
	  {% endfor %}
	</ul>
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
The Modelica <span>Newsletter</span> will be published several times a year.
If you did not receive a notice for this <span>newsletter</span> via email from
modelica@modelica.org but would like to receive it in future then please
use the following link:
<a href="http://trac.modelica.org/Modelica/wiki/ModelicaInfoService" target="_blank">
Subscribe to the Modelica Info Service</a>.

<br><br>

<p>
  Best regards,</p>

<p style="font-size: 8pt; font-family: Verdana,Arial,sans-serif;">
  Michael Tiller<font color="#888888"><br>
    Secretary, Modelica Association Board<br>
    <span>Newsletter</span> Editor</font></p>
